:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #0f172a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f9f9f9;
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes progress-bar-slide {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(120%);
  }
}
