.page {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 16px 40px;
}

.page-header {
  border-radius: 10px;
  padding: 0px 30px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.page-header h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #202020;
}

.page-header .button {
  width: auto;
}

.page-header .input-icon-wrapper {
  width: auto;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 30px;
}

.page-content .primary {
  width: auto;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar .button {
  width: auto;
}

.toolbar .button.secondary {
  margin-left: auto;
  margin-right: 8px;
  padding: 10px;
  width: 42px;
  height: 42px;
}

.toolbar h2 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 768px) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    width: 100%;
  }
}
